@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Barlow", sans-serif;
}

li {
  font-size: 18px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

p {
  font-size: 23px;
}


