@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Barlow", sans-serif;
}

li {
  font-size: 1.125rem;
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
}

.out {
  box-shadow: inset 0 0 0 1rem #ffd08a;
}

.out:hover {
  box-shadow: inset 0 0 0 0rem #ffd08a;
}

.back {

  
}

