@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Barlow', sans-serif;
}

li {
  font-size: 18px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

p {
  font-size: 23px
}

.orangeShadow {
  transition: all 0.3s;
}

.shad {
  background: linear-gradient(to right, #FFA500, hsl(31, 100%, 50%));
}

@keyframes inOut {
  0% {
    scale: 1
  }
  50% {
    scale: 1.2
  }
  100% {
    scale: 1
  }
}

